body.dark-mode {
    background-color: #261C2C; /* Dark background */
    color: #e0e0e0; /* Light text color */
}

.dark-mode .navbar {
    background-color: #3E2C41 !important; /* Darker navbar background */
}

.dark-mode .card {
    background-color: #3E2C41; /* Darker card background */
    border-color: #5C527F; /* Border color */
}

.dark-mode .navbar-brand,
.dark-mode .nav-link.active {
    color: #6E85B2 !important; /* Softer white for brand text and active link */
}

.dark-mode .site-footer {
    background-color: #3E2C41; /* Darker footer background */
    color: #6E85B2; /* Softer white for footer text */
}

.dark-mode .footer-nav a {
    color: #6E85B2; /* Softer white for footer links */
}

.dark-mode .footer-nav a:hover {
    color: #e0e0e0; /* Light text color on hover */
}

/* Add more dark mode styles as needed */