body {
    font-family: 'Arial', sans-serif;
    padding-top: 60px; /* Add padding to account for fixed navbar */
    background-color: #FDF7E4; /* Softer white background */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FAEED1; /* Softer white for navbar */
}

.navbar-brand {
    font-weight: bold;
    color: #DED0B6; /* Softer white for brand text */
}

.nav-link.active {
    font-weight: bold;
    color: #DED0B6; /* Softer white for active link */
}

#darkModeToggle {
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.site-footer {
    background-color: #FAEED1; /* Softer white for footer */
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

.site-footer p {
    margin-bottom: 10px;
    color: #DED0B6; /* Softer white for footer text */
}

.footer-nav a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.footer-nav a:hover {
    text-decoration: underline;
}

/* Add responsive styles */
@media (max-width: 768px) {
    body {
        padding-top: 56px; /* Adjust for smaller navbar on mobile */
    }
}